.toggle-switch {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch.day {
  background-color: #fbc02d; /* Bright yellow for day */
  justify-content: flex-start; /* Align circle to the left */
}

.toggle-switch.night {
  background-color: #3a3b3c; /* Dark gray for night */
  justify-content: flex-end; /* Align circle to the right */
}

.toggle-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
